body {
    background-image: url(../ata-web-exam/stars_on_sky.jpg);
}
.jumbotron{
    background-color:  #b5bee72d ;
}
.audio-buttons{
    display: flex;
    justify-content: space-between;
}
