body {
    background-image: url(../ata-web-exam/stars_on_sky.jpg);
}
.jumbotron{
    background-color: rgba(177, 226, 44, 0.89) ;
}
.audio-buttons{
    display: flex;
    justify-content: space-between;
}

.container my-music{
    background-color: rgba(226, 44, 144, 0.89) ;
}
